<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.javimar.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <activity
            android:name="eu.javimar.popularmovies.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="eu.javimar.popularmovies.DetailActivity"
            android:label="@string/title_detail"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="eu.javimar.popularmovies.MainActivity" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="eu.javimar.popularmovies.MainActivity" />

        <activity
            android:name="eu.javimar.popularmovies.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName="eu.javimar.popularmovies.MainActivity"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="eu.javimar.popularmovies.MainActivity" />

        <provider
            android:name=".model.MovieProvider"
            android:authorities="eu.javimar.popularmovies"
            android:exported="false" />

    </application>

</manifest>